/*邮件框样式*/
.jDKtMA {
    width: 70px;
    height: 70px;
    position:fixed;
    left: 95%;
    bottom: 5px;
    z-index:999;
}
.dzxXfb {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 166, 128);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 14px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.LOaHP {
    padding-top: 19px;
}
.dzxXfb label {
    cursor: pointer;
}
.cSUETK {
    display: inline-block;
    vertical-align: middle;
}
.kPUpgz {
    margin-top: 5px;
    margin-left: -3px;
    vertical-align: middle;
    padding-right: 32px;
    height: 36px;
    display: inline-block;
    background: url('https://static.meiqia.com/widget/static/icon-mq-round@2x.png') -31px -227px / 64px no-repeat;
}

/*留言板*/
.frame-chat_is-no {
    margin: 0;
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 8px;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    right: 5px;
    width: 330px !important;
    height: 510px !important;
    background-color: #F2F3F5;
}
.frame-chat_is-no .the_top{
    text-align: center;
    padding-top: 20px;
    background-color: #00A680;
}
.frame-chat_is-no .title{
    color: white;
}
.frame-chat_is-no .icons img{
    width: 30px;
}
.frame-chat_is-no .reduce{
    padding: 16px;
    font-size: 13px;
    color: rgb(102, 102, 102);
    word-break: break-all;
}
.frame-chat_is-no .sendEmail label span{
    padding: 0px 3px;
    color: rgb(255, 92, 94);
}
.frame-chat_is-no .sendEmail label{
    display: inline-block;
    padding: 0 0 6px 16px;
    color: rgb(68, 68, 68);
    font-size: 12px;
}
.frame-chat_is-no .sendEmail input[type="text"]{
    width: 298px;
    height: auto;
    padding: 12px 16px;
    border: none;
}
.frame-chat_is-no .sendEmail .emailContent{
    display: block;
    width: 298px;
    height: 100px;
    padding: 12px 16px;
    overflow: hidden auto;
    resize: none;
    outline: 0;
    background-color: rgb(255, 255, 255);
    border: none;
    word-break: break-all;
    font-size: 12px;
    appearance: none;
}
.frame-chat_is-no .sendEmail .two {
    padding-top: 20px;
}
.frame-chat_is-no button{
    margin-top: 30px;
    margin-left: 18px;
    width: 298px;
}
.frame-chat_is-no.active{
    transition: .5s;
    display: block;
}
.frame-chat_is-no{
    display: none;
}


